#email.results{ :style => "display:none;"}
  = form_for "email", :url => email_image_javascripts_path, :html => { :id => 'email_form' } do |f|
    = hidden_field_tag :id, @diseno.id
    %table
      %tr
        %td= f.label :to, t('email.to')
        %td= f.text_field :to
      %tr
        %td= f.label :subject, t('email.subject')
        %td= f.text_field :subject
    %p
      = f.label :body, t('email.message')
    %p
      = f.text_area :body
    %p
      = f.submit "Send"
      = f.submit "Cancel", :id => "email_cancel"
