%ol#hilos_select
  = fields_for @diseno do |diseno|
    = diseno.fields_for :hilos do |hilo_form|
      %li.pick_color
        = hilo_form.select :marca_id, Marca.all_cached.collect{ |m| [m[:nombre], m[:id]] }, {:include_blank => t('design.brand')}, {:class => "marca"}
        = hilo_form.select :color_id, {}, {:include_blank => t('design.color')}, {:class => "color"}
        = hilo_form.label :_destroy, t('design.edit.delete') if !hilo_form.object.new_record?
        = hilo_form.check_box :_destroy