%ol
  - fields_for @diseno do |diseno|
    - diseno.fields_for :hilos do |hilo_form|
      %li
        = hilo_form.select :marca_id, Marca.all_cached.collect{ |m| [m[:nombre], m[:id]] }, {:include_blank => t('design.brand')}, {:class => "marca"}
        = hilo_form.select :color_id, Color.all_cached.collect{ |m| [m[:nombre], m[:id]] }, {:include_blank => t('design.color')}, {:class => "color"}
        - if hilo_form.object.new_record?
          = link_to 'Eliminar','', :onclick => "this.up().remove();return false;"
        - else
          = hilo_form.label :_destroy, t('design.edit.delete')
          = hilo_form.check_box :_destroy