- page_title t('design.edit.title')
%h1= yield :title
#orden.results.float-left
  = form_for @diseno, html: { id: "diseno_form" }, format: :html do |f|
    =# f.error_messages
    = hidden_field_tag :id, @diseno.id
    %h2= t('design.design')
    %table
      %tr
        %td
          =f.label :nombre_de_orden, t('design.edit.name_field')
          =f.text_field :nombre_de_orden
      %tr
        %td
          = t('design.new.original')
          = f.file_field "original"
      %tr
        %td
          =t('design.edit.image')
          =f.file_field "image"
      %tr
        %td
          =t('design.edit.dst')
          =f.file_field "archivo_dst"
      %tr
        %td 
          =t('design.edit.pes')
          = f.file_field "archivo_pes"
      %tr
        %td 
          =t('design.edit.names')
          = f.file_field "names"
      %tr
        %td
          = t('design.new.notes')
          %p= f.text_area :notas, :size => "55x5"
    %h2= t('design.spindel')
    #hilos=render 'hilo'
= render 'images'
.clear
-# button(:button2, t('design.edit.delete'), diseno_path(@diseno), :confirm => t('design.edit.confirm'), :method => :delete)
- button(:button2, create_save_text,'#',:onclick => "document.getElementById('diseno_form').submit(); return false;")
