-javascripts "disenos_index"
-page_title t('design.index.title')
.search
  %h1= yield :title
  = render :partial => 'letters'
.timeline
  - @events.each do |event|
    %p
      = "#{event.event_type} - #{link_to event.subject.nombre_de_orden, diseno_path(event.subject.id)}"
      - if event.subject.image.exists?
        = image_tag event.subject.image_url(:small)
    
#result= render :partial => 'diseno', :collection => @disenos
- button_2(t('design.index.new'),new_diseno_path)
