- javascripts "dynamic_colores", "diseno_nuevo"
- page_title "Nuevo Diseño"
%h1= yield :title
#orden.results
  - form_for @diseno,:html => { :multipart => true }  do |f|
    = f.error_messages
    %h2 Diseño:
    %table
      %tr
        %td
          = f.label :cantidad_del_colores, "Cambios De Colores"
          = f.text_field :cantidad_del_colores,:size => 3, :class => "test"
      %tr
        %td
          = f.label :nombre_de_orden, "Nombre De Diseno"
          = f.text_field :nombre_de_orden
      %tr
        %td
          Image:
          = f.file_field "image"
      %tr
        %td
          Archivo de DST:
          = f.file_field "archivo_dst"
      %tr
        %td 
          Archivo de PES:
          = f.file_field "archivo_pes"
    %h2 Hilos:
    #hilos=render 'hilo'
- button_2 "Crear =>",'#',:onclick => "document.forms[0].submit()"
