- javascripts "dynamic_colores", "diseno_nuevo"
- page_title "Nuevo Diseno"
%h1= yield :title
#orden.results
  - form_for @diseno,:multipart => true  do |f|
    %table
      %tr
        %th= f.label :nombre_de_orden, "Nombre De Diseno"
        %th= f.label :cantidad_del_colores, "Cantidad De Colores"
      %tr
        %td= f.text_field :nombre_de_orden
        %td= f.text_field :cantidad_del_colores,:size => 3
        = observe_field :diseno_cantidad_del_colores, :url => colores_javascripts_path(:js), :frequency => 0.25, :with => "cantidad"
      %tr
        %td
          Image:
          = f.file_field "image"
      %tr
        %td
          Archivo de DST:
          = f.file_field "archivo_dst"
      %tr
        %td 
          Archivo de PES:
          = f.file_field "archivo_pes"
    #hilos=render :partial => 'application/hilo',:locals => { :object_name => f.object_name  }
- button_2 "Crear =>",'#',:onclick => "document.forms[0].submit()"
