- javascripts 'dynamic_colores'
- page_title t('design.new.title')
%h1= yield :title
#orden.results
  = form_for @diseno, html: { id: "diseno_form" }, format: :html do |f|
    =# f.error_messages
    %h2= t('design.design')
    %table
      %tr
        %td
          = f.label :nombre_de_orden, t('design.new.name_field')
          = f.text_field :nombre_de_orden
      %tr
        %td
          = t('design.new.original')
          = f.file_field "original"
      %tr
        %td
          = t('design.new.image')
          = f.file_field "image"
      %tr
        %td
          = t('design.new.dst')
          = f.file_field "archivo_dst"
      %tr
        %td 
          = t('design.new.pes')
          = f.file_field "archivo_pes"
      %tr
        %td 
          = t('design.new.names')
          = f.file_field "names"
      %tr
        %td
          = t('design.new.notes')
          %p= f.text_area :notas, :size => "50x5"
      %tr
        %td
          = f.submit
          
    %h2= t('design.spindel')
    #hilos=render 'hilo'
    - button(:button2, t('design.new.save'),'#',:onclick => "document.getElementById('diseno_form').submit(); return false;")
      

