- javascripts "diseno_show"
- page_title "#{t('design.design')} - #{diseno_nombre}" 
%h1= h yield :title
.float-left
  = render 'email'
.clear
.float-left
  %table.results
    %tr.title
      %th= t('design.design')
      %th= t('design.brand')
      %th= t('design.color')
      %th= t('design.id')
      %th= t("design.sample")
    - @diseno.hilos.each_with_index do |hilo,row|
      %tr{ :class => cycle(:odd,:even) }
        %td= (row + 1)
        %td= hilo.color.marca.nombre unless hilo.color_id.blank?
        %td= hilo.color.nombre unless hilo.color.blank?
        %td= hilo.color.codigo unless hilo.color.blank?
        %td{ :style => "background-color:##{hilo.color.hex};" }
  %br
  %h2= t('design.show.notes')
  %p.results
    = @diseno.notas
  = t('design.show.file')
  = link_to_if @diseno.archivo_dst.exists?, "DST", @diseno.archivo_dst.url, :disposition => 'attachment'
  %br
  = t('design.show.file')
  = link_to_if @diseno.archivo_pes.exists?, "PES", @diseno.archivo_dst.url, :disposition => 'attachment'
= render 'images'
.clear
- button_2 t('design.show.edit'), edit_diseno_path(@diseno)