<% page_title "Diseno: " + diseno_nombre %>
<h1><%=h yield :title %></h1>
<div class="float-left">
	<table class="results">
		<tr class="title">
			<th>Hilo</th>
			<th>Marca</th>
			<th>Color</th>
			<th>codigo</th>
		</tr>
	<% @diseno.hilos.each_with_index do |hilo,row| %>
		<tr class="<%= cycle :odd,:even %>">
			<td><%= (row + 1) %></td>
			<td><%= hilo.color.marca.nombre unless hilo.color.blank? %></td>
			<td><%= hilo.color.nombre unless hilo.color.blank? %></td>
			<td><%= hilo.color.codigo unless hilo.color.blank? %></td>
		</tr>
	<% end %>
	</table>
	<br>
	Archivo: <%= link_to_if @diseno.archivo_dst.exists?, "DST", @diseno.archivo_dst.url  %><br>
	Archivo: <%= link_to_if @diseno.archivo_pes.exists?, "PES", @diseno.archivo_dst.url  %>
</div>
<div class="float-right">
	<%  if @diseno.image.exists?  %>
	<div class="results"><%= image_tag @diseno.image.url%></div>
	<% end %>
</div>
<div class="clear"></div>	

