- page_title "Diseno: " + diseno_nombre
%h1= h yield :title
.float-left
  %table.results
    %tr.title
      %th Hilo
      %th Marca
      %th Color
      %th codigo
    - @diseno.hilos.each_with_index do |hilo,row|
      %tr{ :class => cycle(:odd,:even) }
        %td= (row + 1)
        %td{ :id => "hilo_color_#{hilo.color.id}_marca" }= hilo.color.marca.nombre unless hilo.color.blank?
        %td= hilo.color.nombre unless hilo.color.blank?
        %td= hilo.color.codigo unless hilo.color.blank?
  %br
  Archivo:
  = link_to_if @diseno.archivo_dst.exists?, "DST", @diseno.archivo_dst.url, :disposition => 'attachment'
  %br
  Archivo:
  = link_to_if @diseno.archivo_pes.exists?, "PES", @diseno.archivo_dst.url, :disposition => 'attachment'
.float-right
  - if @diseno.image.exists?
    .results= image_tag image_url(@diseno)
.clear
- button_2 "Editar", edit_diseno_path(@diseno)