<table class="results">
	<tr>
		<th>Marca</th>
		<th>Color</th>
		<th>Codigo</th>
	</tr>
	<tr>
		<td><%= f.collection_select :marca_id, Marca.find(:all), :id, :nombre, :prompt => "Marca" %></td>
		<td>
			<%= f.label :nombre, "Nombre" %>
			<%= f.text_field :nombre %>
		</td>
		<td>
			<%= f.label :Codigo, "Codigo" %>
			<%= f.text_field :codigo %>
		</td>
	</tr>
	<tr>
		<td>
			<p>o nuevo marca: <%= text_field :color, :nuevo_marca %> </p>
		</td>
	</tr>
</table>