%table.results
  %tr
    %th Marca
    %th Color
    %th Codigo
  %tr
    %td
      = f.collection_select :marca_id, Marca.find(:all), :id, :nombre, :prompt => "Marca"
    %td
      = f.label :nombre, "Nombre"
      = f.text_field :nombre
    %td
      = f.label :Codigo, "Codigo"
      = f.text_field :codigo
  %tr
    %td
      %p
        o nuevo marca:
        = text_field :color, :nuevo_marca
