<% unless @colores.blank? %>
	<table class="results">
		<tr class="title">
			<th>Marca</th>
			<th>Color</th>
			<th>Codigo</th>
			<th></th>
		</tr>
		<% for color in @colores do %>
		<tr class="<%= cycle :odd, :even %>">
				<td><%=h color.marca.nombre %></td>
				<td><%=h color.nombre %></td>
				<td><%=h color.codigo %></td>
				<td><%= link_to "editar", edit_colore_path(color) %></td>
		</tr>
		<% end %>
	</table>
<% end %>
<% button_2 "Nuevo =>",new_colore_path %>