-page_title title_text
%h1= yield :title
- form_for @color, :url => action_path do |f|
  %table.results
    %tr
      %th= t('color.brand')
      %th= t('color.color')
      %th= t('color.id')
    %tr
      %td= f.collection_select :marca_id, Marca.find(:all), :id, :nombre, :prompt => t('color.brand')
      %td
        = f.label :nombre, "Nombre"
        = f.text_field :nombre
      %td
        = f.label :Codigo, "Codigo"
        = f.text_field :codigo
    %tr
      %td
        %p
          o nuevo marca:
          = f.text_field :nuevo_marca
  = f.submit button_text, :disable_with => t('color.new.saving')
- button_2 button_text,'#',:onclick => "document.forms[0].submit()"