= fields_for @marca do |f|
  = f.fields_for :colors do |color_field|
    %tr.color_row{ :class => cycle(:odd, :even) }
      %td
        = color_field.text_field :nombre
      %td
        = color_field.text_field :codigo, :size => 7
      %td{ :style => "background-color:##{color_field.object.hex};" }
        = color_field.text_field :hex, :size => 6, :maxlength => 6, :class => "hex_color"
      %td
        - if color_field.object.new_record?
          = link_to t('thread.new.delete'), '#', :onclick => "$(this).closest('tr').remove(); return false;"
        - else
          = color_field.check_box :_destroy