- fields_for @marca do |f|
  - f.fields_for :colors do |color_field|
    %tr
      %td
        = color_field.label :nombre, t('thread.new.name')
        = color_field.text_field :nombre
      %td
        = color_field.label :codigo, t('thread.new.id')
        = color_field.text_field :codigo
      %td
        = color_field.label :hex, t('thread.new.hex')
        = color_field.text_field :hex, :size => 7
      %td
        - if color_field.object.new_record?
          = link_to_function t('thread.new.delete'), "this.up().up().remove()"
        - else
          = color_field.label :_delete, t('thread.new.delete')
          = color_field.check_box :_delete