- javascripts "hilos_new"
- page_title title_text
%h1= yield :title
#hilo.results
  - form_for @marca, :url => form_url do |f|
    = f.error_messages
    - unless hilos_new
      = f.hidden_field :id, :name => "id"
    %h2= t('thread.new.brand')
    %table
      %tr
        %td= f.label :nombre, t('thread.new.name')
        %td= f.text_field :nombre
    %h2= t('thread.new.colors')
    %table
      %tbody#colors
        = render 'colors'
    #add_color
    = f.submit button_text, :disable_with => 'Submiting...', :id => "submit_button"
- button_2 button_text, '#', :onclick => "document.forms[0].submit(); return false;"