- page_title title_text
%h1= yield :title
%br
#hilo.results
  = form_for @marca, :url => form_url do |f|
    =# f.error_messages
    - unless hilos_new
      = f.hidden_field :id, :name => "id"
    %h2= t('thread.new.brand')
    %table
      %tr
        %td= f.label :nombre, t('thread.new.name')
        %td= f.text_field :nombre
    %h2= t('thread.new.colors')
    %table.results
      %thead
        %tr
          %th= t('thread.new.name')
          %th= t('thread.new.id')
          %th= "Color"
          %th= t('thread.new.delete')
      %tbody#colors
        = render 'colors'
    #add_color
    = f.submit button_text, :disable_with => 'Submiting...', :id => "submit_button"
- unless hilos_new
  - button(:button1, t('thread.new.delete'), hilo_path(@marca), :confirm => t('thread.new.delete_message'), :method => :delete)
- button(:button2, button_text, '#', :onclick => "document.forms[0].submit(); return false;")