- javascripts "hilos_new"
- page_title t('thread.new.title')
%h1= yield :title
#hilo.results
  - form_for @marca, :url => hilos_path do |f|
    = f.error_messages
    %h2= t('thread.new.brand')
    %table
      %tr
        %td= f.label :nombre, t('thread.new.name')
        %td= f.text_field :nombre
    %h2= t('thread.new.colors')
    %table
      %tbody#colors
        = render 'colors'
    #add_color
    = f.submit t('thread.new.create'), :disable_with => 'Submiting...', :id => "submit_button"
- button_2 t('thread.new.create'), '#', :onclick => "document.forms[0].submit(); return false;"