- app_title
!!!
%html{ "xml:lang" => "es", :lang => "es", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      = yield :app_title
      = yield(:title) || defualt_title
    = stylesheet_link_tag('application')
    = yield :stylesheets
    = javascript_include_tag(:defaults, "float", :unobtrusive, :cache => "all_with_unobtrusive")
    = javascript_include_tag :coto_solutions
    = yield :javascripts
  %body
    .wrapper
      - create_top_links_for_controllers("disenos","hilos")
      - create_top_links_for_path(t('design.index.new'),new_diseno_path)
      -# create_logout
      = render :partial => 'application/top_links'
      #notice= flash[:notice]
      #error= flash[:error]
      .push
      = yield
      %br
      %table
        %tr
          = yield :button1
          %td= link_to("<div class='three'><center>#{t('application.home')}</center></div>", root_path)
          = yield :button2
      .push
    .footer
      = render :partial => 'application/footer'