- app_title
!!!
%html{ "xml:lang" => "es", :lang => "es", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      = yield :app_title
      = yield(:title) || defualt_title
    = stylesheet_link_tag('application')
    = stylesheet_link_tag('coto/default')
    = yield :stylesheets
    = javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    = javascript_include_tag("application")
    = javascript_include_tag("float", :unobtrusive)
    = javascript_include_tag(:coto_solutions)
    = content_for :javascripts
  %body
    .wrapper
      - create_top_links_for_controllers("disenos","hilos")
      - create_top_links_for_path(t('design.index.new'),new_diseno_path)
      -# create_logout
      = render :partial => 'application/top_links'
      #notice= flash[:notice]
      #error= flash[:error]
      .push
      = yield
      %br
      = content_for :button1
      = link_to(root_path) do
        .three
          %p= t('application.home')
      = content_for :button2
      .push
    .footer
      = render :partial => 'application/footer'